<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel='stylesheet' href='/bootstrap-3.2.0-dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css' />

    <script type="text/javascript" src="/javascripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

    <style>
        .logo a
        {
            font: normal normal 18px/58px microsoft yahei;
            text-decoration: none;
            color: #f5f5f5;
        }
        .logo a:hover
        {
            color: white;
        }
        .index_nav {
            margin: 0;
            padding: 0;
        }
        .index_nav li
        {
            width: 120px;
            list-style: none;
            float: left;
            text-align: center;
            font: normal normal 16px/58px microsoft yahei;
        }
        .index_nav li a
        {
            text-decoration: none;
            color: grey;
            padding: 0;
        }
        .index_nav li a:hover
        {
            color: white;
        }
        .index_nav li.active
        {
            color: #fff;
            background-color: #555;
            box-shadow: none;
        }
        .index_nav li.active a
        {
            color: white;
            box-shadow: none;
        }
    </style>
</head>
<body>