<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="笑话, 笑话集市, 好笑的笑话, joke, 哈哈">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap-3.2.0-dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css' />
    <!--[if lt IE 9]>
    <script type="text/javascript">
        var unsupport = true;
    </script>
    <![endif]-->
    <script type="text/javascript">
        if("unsupport" in window){
            document.location.replace("/browser_version_is_too_low");
        }
    </script>
</head>
<body class="inner">
<section>
    <header>
        <section id="logo">
            <span class="express"></span>
        </section>
        <nav class="clearfix">
            <a href="/" target="_self" class="active"> 首页</a>
            <a href="/chat" target="_self"> 聊天室</a>
            <a href="/game/cleanmine" target="_self">扫雷</a>
        </nav>
    </header>
    <div id="maincontent">
      <ul>
          <% for(var i in data){ %>
          <li><%=data[i].content%></li>
          <% if(data[i].picture != ""){ %>
             <li><img src="<%=data[i].picture%>"></li>
          <%}%>
          <%}%>
      </ul>
    </div>
</section>


<script type="text/javascript" src="/javascripts/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
<script>
    window.onscroll = function(){
       var top = document.body.scrollTop;
       if(top!=0){
           document.body.className = "inner scroll" ;
       }else{
           document.body.className = "inner";
       }
   };
</script>
</body>
</html>
