<% include inc-head.ejs %>


<div style="width: 100%; height: 58px; background-color: #2d2d2d; color: grey">
    <div class="logo" style="float: left; width: 200px; text-align: center;">
        <a href="/" title="本站内容如有侵仅请联系管理员，我们会在第一时间删除">笑话集市</a>
    </div>
    <ul class="index_nav">
        <li class="active"><a href="/">每天更新</a></li>
        <li><a href="/month_ranking">月排行</a></li>
        <li><a href="/cold_joke">冷笑话</a></li>
        <li><a href="/contribute">我要投稿</a></li>
    </ul>
</div>


<% include inc-foot.ejs %>